@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vh;
    height: 100vh;
    background: linear-gradient(68deg, rgb(174, 0, 255), rgb(140, 0, 255));
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}

form{
    background-color: white;
    display: flex;
    width: 30vw;
    padding: 5vw;
    justify-content: center;
    text-align: center;
    min-height: 60vh;
    flex-direction: column;
    gap: 32px;
    box-shadow: 5px 5px 10px -2px rgb(199, 24, 199);
    border-radius: 8px;
}

input[type="text"]{
    padding: 10px;
    border-radius: 15px;
    border: 0;
    box-shadow: 1px 1px 5px -2px magenta;
    text-align: center;
    outline: 0;
}

div.container div input[type="text"]{
    margin: 2px 2px 2px 12px;
}

button{
    padding: 20px 10px;
    background: -webkit-linear-gradient(68deg, rgb(212, 0, 255), rgb(255, 0, 179));
    background: -moz-linear-gradient(68deg, rgb(212, 0, 255), rgb(255, 0, 179));
    background: -o-linear-gradient(68deg, rgb(212, 0, 255), rgb(255, 0, 179));  
    background: linear-gradient(68deg, rgb(212, 0, 255), rgb(255, 0, 179));
    -webkit-transition: all 1s ease-out;  
    -moz-transition: all 1s ease-out;  
    -o-transition: all 1s ease-out;  
    transition: all 1s ease-out;  
    border-radius: 10px;
    background-size: 1000px 1000px;
    box-shadow: 1px 1px 5px -1px magenta;
    border: 0;
}

button:hover{
    background-size: cover;
}

